@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Noto+Sans+JP:wght@100;300&family=Shadows+Into+Light&display=swap');
html{
  height: -webkit-fill-available;
}
body{
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
.main-header{
  font-family: 'Lora', serif;
}
.test-font{
  font-family: 'Shadows Into Light', cursive;
}
.content-font{
  font-family: 'Yu Gothic'
}
.about-main{
  padding-top: 20%;
  background:linear-gradient(100deg,white 40%,#d5dade 70%);
}
.skill-card{
  padding-top: 5%;
  padding-bottom: 5%;
}
.timeline {
  width: 96%;
  max-width: 940px;
  margin: 28px auto;
  border: 1px solid #eeeeee;

}

.timeline-list {
  padding: 40px 0;
}

.timeline-list-item {
  display: flex;
  line-height: 1.5;
  font-size: 16px;
}

.timeline-list-item .date {
  width: 35%;
  padding: 0 0 0 20px;
  color: #888888;
  font-weight: bold;
  font-size:13px
}

.timeline-list-item .content {
  position: relative;
  width: 80%;
  padding: 0 20px 60px 30px;
  border-left: 1px solid #aaaaaa;
}

.timeline-list-item .content::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 20px;
  height: 20px;
  background-color: #00c2bc;
  border-radius: 10px;
  z-index: 1;
}
